*{background-color:pink}
body{height:100vh}

#ball{background-color:orange;
    width:100px;
    height:100px;
    border-radius:50%;
    position:absolute;
    z-index:5
    }

#hoop{position:absolute;
    background-color:black;
    width:200px;
    height:10px;
    left:500px;
    top:300px;
    z-index:10}